nav {
  width: 100%;
  background-color: rgba(65, 64, 64, 0.701);
  backdrop-filter: blur(5px);
  color: white;
  padding-inline: 0.75rem;
  padding-block: 0.50rem;
  text-transform: capitalize;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  .nav-side{
    display: flex;
    gap: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
   
    .nav-icon {
      width: 15px;
      aspect-ratio: 1/1;
    }
  }

}

