.cover{
padding: 1rem;
overflow: auto;

height: 100%;
display: flex;

flex-direction: column;
width: 100%;
.profile{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding-inline: 2rem;
  padding-block: 2rem;
  .imgeo{
    width: 50%;
    border-radius: 50%;
    height: 100%;
    display: flex;
    padding-top: 0px;
    align-items: start;
    img{
      aspect-ratio: 1/1;
      min-width: 7rem;
max-width: 10rem;
      width: 100%;
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center;
      border-radius: 50%;
    }
  }
  .info{
    display: flex;
    flex-direction: column;
    .name{
      font-size: 3rem;
       color: #58a6ff;  
    }
    .role{
      font-size: 1.5rem;
    }
    .shortdiscription{
      font-size: 0.8rem;
       color: #8b949e;
       font-weight: 300;
    }
  }

}

.bbody {
    font-family: Arial, sans-serif;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
    flex-grow: 1;
    flex-basis: 20rem;
    justify-content: space-around;
    padding-bottom: 10rem;
   
}

.project-card {
   max-width: 14rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
      background-color: #161b22;
    border: 1px solid #30363d;
    border-radius: 10px;
    overflow: hidden;
    color: #c9d1d9;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.project-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.title {
    font-size: 18px;
    margin-bottom: 10px;
    color: #58a6ff;
}

.description {
    font-size: 14px;
    margin-bottom: 10px;
}

.tags {
    margin-bottom: 10px;
}

.tags span {
    display: inline-block;
    background-color: #21262d;
    color: #8b949e;
    padding: 5px 8px;
    margin: 3px;
    border-radius: 5px;
    font-size: 12px;
}
.links{
  display: flex;
  justify-content: space-between;
}
.links a {
    text-decoration: none;
    color: #58a6ff;
    margin-right: 10px;
    font-size: 14px;
}

.links a:hover {
    text-decoration: underline;
}




}