.window {
  background-color: #060606;
  border-radius: 0.75rem;
  overflow: hidden;
  height: 100%;
  color: rgb(168, 168, 168);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 500;
  .nav {
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
            border-bottom: 1px solid rgba(245, 245, 245, 0.24);

    background-color: rgb(37, 37, 37);

    .dots {
      display: flex;
      gap: 0.5rem;

      .roundbtn {
        width: 15px;
        background-color: red;
        height: 15px;
        border-radius: 50%;
        cursor: default;
      }
      .red {
        background-color: #eb3535;
      }

      .yellow {
        background-color: rgb(247, 247, 81);
      }

      .green {
        background-color: rgb(27, 228, 0);
      }
    }
    .title{
       color: wheat;
    }
  }
}
